<h1><strong>what's happening</strong> in my area?</h1>
<div id="subscription_map"></div>
<div id="container">
  <%= form_for @subscription do |f| %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :latitude %>
    <p>For a
    <%= f.select :radius, [
      ["&nbsp;&nbsp;&nbsp;1/2-mile radius&nbsp;&nbsp;&nbsp;".html_safe, "804"],
      ["&nbsp;&nbsp;&nbsp;1-mile radius&nbsp;&nbsp;&nbsp;".html_safe, "1609"],
      ["&nbsp;&nbsp;&nbsp;2-mile radius&nbsp;&nbsp;&nbsp;".html_safe, "3218"],
      ["&nbsp;&nbsp;&nbsp;3-mile radius&nbsp;&nbsp;&nbsp;".html_safe, "4828"],
      ["&nbsp;&nbsp;&nbsp;4-mile radius&nbsp;&nbsp;&nbsp;".html_safe, "6437"]
    ] %> from <%= f.text_field :address, placeholder: 'my address' %>
    </p>
    <p>text me at <%= f.text_field :phone, placeholder: 'phone number' %> when something happens.</p>
    <%= f.button :submit, class: 'submit' %>
  <% end %>
</div>
