<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="container">
    <%= render 'flashes' %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'javascript' %>
</body>
</html>
